<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>testGraf</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/testGraf.css'>
    <link rel="stylesheet" href="../../static/charts.min.css">
</head>

<body>
   <div id="my-chart">

    <table class="charts-css column data-spacing-2 show-labels ">
      <tbody>
        {% for row in humidityDatas %}
            <tr>
              <!-- <th scope="row" class = {{row.showLabel}}> {{row.date}} </th> -->
              <td style="--size: {{row.size}} ; --color : {{row.color}}">  <span class="tooltip"> Humidité : {{row.datas}} <br> Date : {{row.date}}</span></td>
            </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="data-axis"> Humidité (%) </div>
  </div>

  <div id="my-chart">

    <table class="charts-css column data-spacing-2 show-labels ">
      <tbody>
        {% for row in tempDatas %}
            <tr>
              <!-- <th scope="row" class = {{row.showLabel}}> {{row.date}} </th> -->
              <td style="--size: {{row.size}} ; --color : {{row.color}}">  <span class="tooltip"> Température : {{row.datas}} <br> Date : {{row.date}}</span></td>
            </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="data-axis"> Température (°C) </div>
  </div>

  <div id="my-chart">

    <table class="charts-css column data-spacing-2 show-labels ">
      <tbody>
        {% for row in airQDatas %}
            <tr>
              <!-- <th scope="row" class = {{row.showLabel}}> {{row.date}} </th> -->
              <td style="--size: {{row.size}} ; --color : {{row.color}}">  <span class="tooltip"> Air Quality : {{row.datas}} <br> Date : {{row.date}}</span></td>
            </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="data-axis"> AirQ (%) </div>
  </div>

</body>

</body>
</html>