<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>testGraf</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/testGraf.css'>
    <link rel="stylesheet" href="../../static/charts.min.css">
</head>

<body>
   <div id="my-chart">

    <table class="charts-css column data-spacing-2 show-labels ">
      <tbody>
        {% for row in humidityDatas %}
            <tr>
              <!-- <th scope="row" class = {{row.showLabel}}> {{row.date}} </th> -->
              <td style="--size: {{row.size}} ; --color : {{row.color}}">  <span class="tooltip"> Humidité : {{row.humidity}} <br> Date : {{row.date}}</span></td>
            </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="data-axis"> Humidité (%) </div>
  </div>

    <!-- <table class="charts-css column" id="my-chart">
      <tbody>
        {% for row in tempDatas %}
            <tr>
              <td style="--size: {{row.size}}"> </td>
            </tr>
        {% endfor %} 
      </tbody> -->
<!--     
      <table class="charts-css column " id="my-chart">
        <tbody>
          {% for row in airQDatas %}
              <tr>
                <td style="--size: {{row.size}} ; --color : {{row.color}} "><span>{{row.size}}</span> </td>
              </tr>
          {% endfor %} 
        </tbody> -->

    </table>
</body>

</body>
</html>