form {
    width: 90%;
    margin: 75px auto 50px auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

form>div {
    display: flex;
    flex-direction: column;
}

table {
    margin: auto;
    width: 90%;
    text-align: center;
}

table tr {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}

table tbody tr:nth-child(2n+1) {
    background-color: lightgray;
}

table img {
    height: 1.5em;
}